<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            font-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/addUsers}" th:object="${user}">

    <div>
        <label for="firstname">Name</label>
        <input type="text" th:field="*{firstName}" id="firstname"/>

        <br>

        <br/>

        <label for="secondname">Second name</label>
        <input type="text" th:field="*{secondName}" id="secondname"/>

        <br>

        <br/>

        <label for="age">Email</label>
        <input type="email" th:field="*{email}" id="email"/>

        <br>

        <br/>

        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age"/>

        <br>

        <br/>

        <label for="age">Password</label>
        <input type="password" th:field="*{password}" id="password"/>

        <br>

        <br/>

        <label>
            <input type="checkbox"
                   name="roleUser"
                   th:value="ROLE_USER"
                   th:text="User">
        </label>
        <label>
            <input type="checkbox"
                   name="roleAdmin"
                   th:value="ROLE_ADMIN"
                   th:text="Admin">
        </label>

        <br>

        <br/>

        <input type="submit" value="Add">
    </div>

</form>

<p><a href="/logout">Logout</a></p>

</body>
</html>