<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Change user</title>

</head>
<body>

<h1>Change user</h1>

<form action="#" th:method="PUT" th:action="@{/changeUsers/{id}}" th:object="${user}">

    <label for="userId">UserId</label>
    <input readonly type="number" th:field="*{id}" id="userId" placeholder="UserId">

    <br/>

    <label for="name">Enter name</label>
    <input type="text" th:field="*{firstName}" id="name" required/>

    <br/>

    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{secondName}" id="surname"/>

    <br/>

    <label for="age">Enter email</label>
    <input type="email" min="0" max="127" th:field="*{email}" id="email">

    <br/>

    <label for="age">Enter age</label>
    <input type="number" min="0" max="127" th:field="*{age}" id="age">

    <br/>

    <label for="age">Enter password</label>
    <input type="number" min="0" max="127" th:field="*{password}" id="password">

    <br/>

<!--    <th:block th:each="role:${roles}">-->
<!--        <lable th:text="${role.name}"></lable>-->
<!--        <input type="checkbox" th:field="${user.roles}" th:value="${role.id()}"/>-->
<!--    </th:block>-->

<!--    <th:block th:each="role:${roles}">-->
<!--        <lable th:text="${role}"></lable>-->
<!--        <input type="checkbox" th:field="${user.roles}" th:value="${role}"/>-->
<!--    </th:block>-->

    <th:block th:each="role:${roles}">
        <lable th:text="${role.getName()}"></lable>
        <input type="checkbox" th:field="${user.roles}" th:value="${role.getId()}"/>
    </th:block>


<!--    <label>-->
<!--        <input type="checkbox"-->
<!--               name="roleUser"-->
<!--               th:value="ROLE_USER"-->
<!--               th:text="User">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="checkbox"-->
<!--               name="roleAdmin"-->
<!--               th:value="ROLE_ADMIN"-->
<!--               th:text="Admin">-->
<!--    </label>-->

    <br/>

    <input type="submit" class="buttonEdit" value="Change user"/>

</form>

<p><a href="/logout">Logout</a></p>

</body>
</html>